
## <summary>policy for ucr</summary>


########################################
## <summary>
##	Transition to ucr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ucr_domtrans',`
	gen_require(`
		type ucr_t, ucr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ucr_exec_t, ucr_t)
')


########################################
## <summary>
##	Execute ucr server in the ucr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ucr_initrc_domtrans',`
	gen_require(`
		type ucr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ucr_initrc_exec_t)
')


########################################
## <summary>
##	Search ucr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ucr_search_lib',`
	gen_require(`
		type ucr_var_lib_t;
	')

	allow $1 ucr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ucr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ucr_read_lib_files',`
	gen_require(`
		type ucr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ucr_var_lib_t, ucr_var_lib_t)
')

########################################
## <summary>
##	Manage ucr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ucr_manage_lib_files',`
	gen_require(`
		type ucr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ucr_var_lib_t, ucr_var_lib_t)
')

########################################
## <summary>
##	Manage ucr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ucr_manage_lib_dirs',`
	gen_require(`
		type ucr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ucr_var_lib_t, ucr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ucr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ucr_admin',`
	gen_require(`
		type ucr_t;
		type ucr_initrc_exec_t;
		type ucr_var_lib_t;
	')

	allow $1 ucr_t:process { ptrace signal_perms };
	ps_process_pattern($1, ucr_t)

	ucr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ucr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ucr_var_lib_t)

')

